<component name="libraryTable">
  <library name="spring-aop-5.0.2.RELEASE-javadoc">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-aop-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-aspects-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-beans-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-indexer-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-support-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-core-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-expression-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-instrument-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jcl-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jdbc-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jms-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-messaging-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-orm-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-oxm-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-test-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-tx-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-web-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-webflux-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-webmvc-5.0.2.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-websocket-5.0.2.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-aop-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-aspects-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-beans-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-indexer-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-support-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-core-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-expression-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-instrument-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jcl-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jdbc-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jms-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-messaging-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-orm-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-oxm-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-test-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-tx-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-web-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-webflux-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-webmvc-5.0.2.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-websocket-5.0.2.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-aop-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-aspects-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-beans-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-indexer-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-context-support-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-core-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-expression-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-instrument-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jcl-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jdbc-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-jms-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-messaging-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-orm-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-oxm-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-test-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-tx-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-web-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-webflux-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-webmvc-5.0.2.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/newspring/spring-websocket-5.0.2.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>